{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    実験開始前の準備
{% endblock %}

{% block content %}
<br>
<p>A. 以下のものをご準備ください</p>
<br>
<p>・ペン・電卓<br>
・計算やメモなどをする用の紙</p>
<p>※パソコンでの参加を推奨しています。</p>
<br>
<br>
<p>B.　実験中の注意事項</p>
<br>
<p>　　-01.　私語、居眠り、読書などの実験に関係のない行為はご遠慮ください。</p>
<p>　　-02.　実験中・実験終了後も、あなたの名前などの個人情報が公表されることはありません。</p>
<p>　　-03.　この実験の説明はすべてこのページの続きで行われます</p>
<p>　　-04.　パソコンのフリーズ対策として、可能な限り他のアプリケーションは開かないでください。</p>
<p>　　-05.　実験中は、本webページを閉じないでください。</p>
<p>　　-06.　バッテリー残量に気をつけてください。</p>
<p>　　-07.　途中で実験を離脱すると謝金を支払うことができません。最後まで実験にご参加ください。</p>
<br>
<br>
<p>準備ができましたら、下のボタンを押して次のページに進んでください。</p>
    {% next_button %}

{% endblock %}
