{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    確認テスト
{% endblock %}

{% block content %}
<br>
<section style = "background-color:#e6e6e6 ;padding:50px">
    <h3>問題01　〇×問題</h3>
    <br>
    <p>役割（新規参入企業・既存企業）は各ラウンドごとに交互に振り分けられる。</p>
    <br>
    {% formfield player.test_1 %}
</section>
<br>

<section style = "padding:50px">
    <h3>問題02　　〇×問題</h3>
    <br>
    <p>一期目に「新製品に投資」をした場合、二期目も引き続き新製品に投資するか、それとも既存製品に投資するのか、選ぶことができる。</p>
    <br>
    {% formfield player.test_2 %}
</section>
<br>

<section style = "background-color:#e6e6e6 ;padding:50px">
    <h3>問題03</h3>
    <br>
    <p>下のポイント表より、一期目にあなたが「新製品に投資」、相手が「既存製品に投資」を選んだ場合</p>
    <p>あなたの獲得ポイントは｛　｝になる。</p>
    <p>・｛　｝に入る数値を選んでください。</p>
    <br>
    <img src="{% static "test_3.jpg" %}" width="400" />
    <br>
    <br>
    {% formfield player.test_3 %}
    <br>




</section>
<br>

<section style = "padding:50px">
    <h3>問題04</h3>
    <br>
    <p>一期目に、あなたが「既存製品に投資」、相手が「新製品に投資」を選んだ場合、</p>
    <p>二期目のポイント表は｛　｝になる。</p>
    <p>・｛　｝に入る数値を選んでください。（A~D）</p>
    <br>
    <img src="{% static "test_4.jpg" %}" width="80%" />
    <br>
    {% formfield player.test_4 %}

</section>
<br>

<section style = "background-color:#e6e6e6 ;padding:50px">
    <h3>問題05</h3>
    <br>
    <p>一期目に、あなたが「既存製品に投資」、相手が「新製品に投資」を選び</p>
    <p>二期目に、あなたが「新製品に投資」、相手が「新製品に投資」を選び、二期目のポイントが「拡大」する場合、</p>
    <p>あなたの獲得ポイントは｛　｝になる。</p>
    <p>・｛　｝に入る数値を選んでください。　</p>

    <br>
    <img src="{% static "test_5.jpg" %}" width="80%" />
    <br>
    {% formfield player.test_5 %}
    <br>
</section>
<br>

<section style = " padding:50px">
    <br>
    <p>全ての問題を解き終えたら、下のボタンを押して次のページに進んでください。</p>
    <p>次のページに進み、もし、わからない問題、間違えた問題があれば、解説を読んで訂正してください。</p>

</section>


{% next_button %}


<hr>

<br>
<br>
<br>
<h2>以下　実験の説明</h2>
<section style = "padding:50px">
    <h3>実験の想定</h3>
    <br>
    <p>・新規企業と既存企業があります。</p>
    <p>・それぞれ新製品に投資を行って新たな市場に参入するのか、</p>
    <p>・それとも、既存の製品に投資をするのか、</p>
    <p>・それとも、なにもしないのか、決定しようとしています。</p>
    </p>
    </section>
    <br>
    <br>
    <br>
    <br>
    
    
    <section style = "background-color:#e6e6e6 ; padding:50px">
    <h3>実験の概要</h3>
    <br>
    <p>・まず、実験のはじめにあなたと相手は新規企業役と既存企業役に割り振られます。</p>
    <p>・与えられた役割（新規企業・既存企業）は毎ラウンドごとに交互に入れ替わります。</p>
    <p>・あなたと相手には新製品に投資するかどうか決めてもらいます。</p>
    <p>　　○　新規企業の選択肢は（１,「新製品に投資する」２,「なにもしない」）です。</p>
    <p>　　○　既存企業の選択肢は（１,「新製品に投資する」２,「既存製品に投資する」）です。</p>
    <p>・あなたと相手の選んだ選択肢と選ぶタイミングによって得られるポイントが変わります。</p>
    <p>・一期目に得られるポイントは二期目のあなたと相手の投資状況によって変化します。</p>
    <p>・また、二期目の得られるポイントは、確率によって変動します。（拡大する場合と縮小する場合があります。）</p>
    </section>
    <br>
    <br>
    <br>
    <br>
    
    <h3>実験での作業</h3>
    <br>
    <br>
    <section style = "padding:50px">
    <h4>ポイント表の見方</h4>
    <br>
    <p>・下の図がこの実験で用いられるポイント表の一例です。</p>
    <p>・青色の文字があなたの選択肢・獲得ポイントです。</p>
    <p>・左側の青の選択肢があなた、右上の選択肢が相手です。</p>
    <br>
    <img src="{% static "inst_O_ex.jpg" %}" width="400" /><br>
    <br>
    <br>
    <p>例 ）：あなたが既存企業、相手が新規企業のとき</p>
    <p>〇あなたが新製品に投資、相手が新製品に投資した場合</p>
    <p>　　　　→あなたのポイント：700、相手のポイント：50</p>
    <p>〇あなたが新製品に投資、相手がなにもしない場合</p>
    <p>　　　　→あなたのポイント：900、相手のポイント：0</p>
    <p>〇あなたが既存製品に投資、相手が新製品に投資した場合</p>
    <p>　　　　→あなたのポイント：300、相手のポイント：30</p>
    <p>〇あなたが既存製品に投資、相手が何もしない場合</p>
    <p>　　　　→あなたのポイント：500、相手のポイント：0</p>
    </section>
    
    
    <br>
    <br>
    <section style = "background-color:#e6e6e6 ; padding:50px">
    <h4>一期目の説明</h4>
    <br>
    <p>・下の図は、一期目の画面表示の例です。</p>
    <p>・上部の表は一期目の獲得ポイント、下部の4つの表は一期目のあなたと相手の行動に応じた二期目の獲得ポイントの表です。</p>
    <br>
    <img src="{% static "inst_N_all.jpg" %}" width="80%" /><br>
    <br>
    <p>・各表には、あなたと相手の行動別の儲け額が表示されています。</p>
    <p>・あなたと相手には、それぞれこの表をみて選択をしてもらいます。</p>
    <p>・ただし、役割によって選択肢・獲得ポイントが異なるため、あなたと相手の画面に表示されている表の数値はそれぞれ異なります。</p>
    <p>・一期目に「新製品に投資する」を選んだ場合、二期目も引き続き「新製品に投資する」ことになります。</p>
    <p>・二期目は、表示されている確率によってポイントが変動します。</p>
    <p>　　〇拡大の場合：獲得ポイントが増加<br>　　〇縮小の場合：獲得ポイントが減少</p>
    <br>
    </section>
    <br>
    
    <section style = "padding:50px">
    <h4>二期目の説明</h4>
    <br>
    <p>一期目の選択が終了すると二期目に移ります。</p>
    <p>・一期目に「新製品に投資する」を選択すると、二期目も引き続き「新製品に投資する」ことになり、下図のような画面が表示されます。</p>
    
    <img src="{% static "inst_O_r2_11.jpg" %}" width="400" /><br>
    <br>
    <p>もしくは</p>
    <img src="{% static "inst_O_r2_01.jpg" %}" width="400" /><br>
    <br>
    <p>・一期目に「新製品に投資する」を選択していない場合、二期目にもう一度、一期目と同様にどちらの選択をするのか決定してもらいます。</p>
    <br>
    <img src="{% static "inst_O_r2_10.jpg" %}" width="400" /><br>
    <br>
    <p>もしくは</p>
    <img src="{% static "inst_O_r2_00.jpg" %}" width="400" /><br>
    <br>
    <p>・二期目の選択が終り次第、そのラウンドは終了します。</p>
    <br>
    
    </section>
    <br>
    
    <section style = "background-color:#e6e6e6 ; padding:50px">
    <h4>結果発表画面の説明</h4>
    <br>
    <p>・一期目と二期目の選択が終了すると、そのラウンドで獲得したポイントが表示されます。</p>
    <p>・この投資の選択とタイミングを決定を数値を変えながら繰り返し行ってもらいます。</p>
    </section>
    
    <br>
    <section style = "padding:50px">
    <h4>最終結果確認</h4>
    <br>
    <p>全てのラウンドが終了すると、あなたの最終獲得ポイントが表示されます。</p>
    </section>
    
    <br>
    <section style = "background-color:#e6e6e6 ; padding:50px">
    <h4>アンケート</h4>
    <br>
    <p>・最後にアンケートA・Bに記入していただいて実験は終了となります。</p>
    </section>
    
    <br>
    <br>
    <br>
    
    <section style = "padding:50px">
    <h4>実験の流れ</h4>
    <br>
    <p>・最後に、実験全体の流れは以下のようになります。</p>
    <br>
    <br>
    <img src="{% static "inst_nagare.jpg" %}" width="80%" /><br>
    
    </section>



{% endblock %}


