{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    二期目の投資ステージ
{% endblock %}

{% block content %}

<p>　</p>
<p>第{{subsession.round_number}}ラウンド</p>
<p>　</p>
<p>あなたは「　{{player.role}}　」です</p>

<p>　</p>

    {% if subsession.expansion_or_shrink == 1 %}

        <p>【　二期目のポイント表：拡大　】　</p>

        {% if subsession.stage_type == 1 %}

            {% if group.total_investments_1 == 10 %}

                <img src="{% static "s1_O_r2E_10.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% elif group.total_investments_1 == 0 %}

                <img src="{% static "s1_O_r2E_00.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% endif %}
        
        {% elif subsession.stage_type == 2 %}

            {% if group.total_investments_1 == 10 %}

                <img src="{% static "s2_O_r2E_10.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% elif group.total_investments_1 == 0 %}

                <img src="{% static "s2_O_r2E_00.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% endif %}


        {% elif subsession.stage_type == 3 %}

            {% if group.total_investments_1 == 10 %}

                <img src="{% static "s3_O_r2E_10.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% elif group.total_investments_1 == 0 %}

                <img src="{% static "s3_O_r2E_00.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% endif %}

    {% endif %}

    {% elif subsession.expansion_or_shrink == 2 %}

        <p>【　二期目のポイント表：縮小　】</p>

        {% if subsession.stage_type == 1 %}

            {% if group.total_investments_1 == 10 %}

                <img src="{% static "s1_O_r2S_10.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% elif group.total_investments_1 == 0 %}

                <img src="{% static "s1_O_r2S_00.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% endif %}

        {% elif subsession.stage_type == 2 %}

            {% if group.total_investments_1 == 10 %}

                <img src="{% static "s2_O_r2S_10.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% elif group.total_investments_1 == 0 %}

                <img src="{% static "s2_O_r2S_00.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% endif %}


        {% elif subsession.stage_type == 3 %}

            {% if group.total_investments_1 == 10 %}

                <img src="{% static "s3_O_r2S_10.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% elif group.total_investments_1 == 0 %}

                <img src="{% static "s3_O_r2S_00.jpg" %}" width="400" />
                <p>　</p>

                {% formfield group.investment_old_2 %}

            {% endif %}

        {% endif %}
        
    {% endif %}


    {% next_button %}


    
<br>
<br>
<br>
<hr>
<br>
<p>以下、実験の説明</p>
<section style = "background-color:#e6e6e6; padding:50px">
    <h3>実験の概要</h3>
    <br>
    <p>・この実験は二人一組で行います。</p>
    <p>・ポイント表をもとに、自分の行動を決定し、ポイントを稼いでください。</p>
    <p>・ポイントが多いほど、実験参加報酬が増加します。</p>
    <br>
    <br>
    <p>・この実験には、新規参入企業と既存企業があります。</p>
    <p>・実験のはじめにあなたと相手は、新規参入企業役と既存企業役に割り振られます。</p>
    <P>・与えられた役割（新規参入企業・既存企業）は毎ラウンドごとに交互に入れ替わります。</P>
    <p>・各企業には、どのタイミングで新製品に投資をするのか決定してもらいます。</p>
    <p>・投資するタイミングは、一期目と二期目があります。</p>
    <p>・どちらの企業も、一期目に新製品に投資した場合、二期目も引き続き新製品に投資することになります。</p>
    <p>　　　（ラウンドと一期目、二期目の関係の図は下記）</p>
    <br>
    <img src="{% static "inst_stage_flow_mini.jpg" %}" width="400" />
    <br>
    <hr>
    <br>
    <p>・あなたと相手の選んだ選択肢と選ぶタイミングによって得られるポイントが変わります。</p>
    <p>・一期目に得られるポイントは二期目のあなたと相手の投資状況によって変化します。</p>
    <p>・また、二期目に得られるポイントは、確率によって変動します。</p>
    <p>　　○　「拡大」の場合：二期目の獲得ポイント増加</p> 
    <p>　　○　「縮小」の場合：二期目の獲得ポイント減少</p>
    <br>
    <hr>
    <br>
    <h5>○　新規参入企業</h5>
    <br>
    <p>・新規参入企業役に割り振られたプレイヤーは、新たに新製品に投資をするタイミングを決定してもらいます。</p>
    <p>・このときのタイミングは以下の3パターンです。</p>
    <p>　　○　一期目から新製品に投資を行い、二期間に渡って新製品に投資する。</p>
    <p>　　○　一期目は新製品への投資を見送り、二期目に新製品に投資する。</p>
    <p>　　○　一期目も、二期目も新製品の投資を見送る。</p>
    <p>・新規参入企業の選択肢は（１,「新製品に投資する」２,「なにもしない」）です。</p>
    <p>　　○　１，「新製品に投資する」を選択すると、その期から新製品の投資を開始します。</p>
    <p>　　○　２，「なにもしない」を選択すると、その期は新製品への投資を見送ることになります。</p>
    
    <hr>
    <br>
    <br>
    <h5>○　既存企業</h5>
    <br>
    <p>・既存企業役に割り振られたプレイヤーについて説明します。</p>
    <p>・既存企業はすでにある製品（ここでは既存製品）に投資をしています。</p>
    <p>・そこで、既存製品に加えて新たに新製品に投資を行うタイミングを決定してもらいます。</p>
    <p>・このときのタイミングは以下の3パターンです。</p>
    <p>　　○　一期目から新製品に投資を行い、二期間に渡って新製品に投資する。</p>
    <p>　　○　一期目は新製品への投資をせず既存製品のみに投資し、二期目に新製品に投資する。</p>
    <p>　　○　一期目も、二期目も新製品の投資を見送り、既存製品に投資する。</p>
    <p>・既存企業の選択肢は（１,「新製品に投資する」２,「既存製品に投資する」）です。</p>
    <p>　　○　１，「新製品に投資する」を選択すると、その期から新製品の投資を開始します。</p>
    <p>　　○　２，「既存製品に投資する」を選択すると、その期は新製品への投資を見送り、既存製品に投資します。
    </section>
    
    
    <br>
    <br>
    <br>
    <br>
    <section style = " padding:50px">
    <h3>実験での作業</h3>
    <br>
    <br>
    <h4>ポイント表の見方</h4>
    <br>
    <p>・下の図がこの実験で用いられるポイント表の一例です。</p>
    <p>・青色の文字があなたの選択肢・獲得ポイントです。</p>
    <p>・左側の青の選択肢があなた、右上の選択肢が相手です。</p>
    <br>
    <img src="{% static "inst_O_ex.jpg" %}" width="400" /><br>
    <br>
    <br>
    <p>例 ）：あなたが既存企業、相手が新規参入企業のとき</p>
    <p>〇あなたが新製品に投資、相手が新製品に投資した場合</p>
    <p>　　　　→あなたのポイント：700、相手のポイント：50</p>
    <p>〇あなたが新製品に投資、相手がなにもしない場合</p>
    <p>　　　　→あなたのポイント：900、相手のポイント：0</p>
    <p>〇あなたが既存製品に投資、相手が新製品に投資した場合</p>
    <p>　　　　→あなたのポイント：300、相手のポイント：30</p>
    <p>〇あなたが既存製品に投資、相手が何もしない場合</p>
    <p>　　　　→あなたのポイント：500、相手のポイント：0</p>
    </section>
    
    
    <br>
    <br>
    <section style = "background-color:#e6e6e6;padding:50px">
    <h4>一期目の説明</h4>
    <br>
    <p>・下の図は、一期目の画面表示の例です。</p>
    <p>・上部の表は一期目の獲得ポイント、下部の4つの表は一期目のあなたと相手の行動に応じた二期目の獲得ポイントの表です。</p>
    <br>
    <img src="{% static "inst_N_all.jpg" %}" width="80%" /><br>
    <br>
    <p>・各表には、あなたと相手の行動別の儲け額が表示されています。</p>
    <p>・あなたと相手には、それぞれこの表をみて選択をしてもらいます。</p>
    <p>・ただし、役割によって選択肢・獲得ポイントが異なるため、あなたと相手の画面に表示されている表の数値はそれぞれ異なります。</p>
    <br>
    <p>・一期目では</p>
    <p>　　○　一期目から新製品に投資をして、２期間（一期目と二期目）にわたり新製品に投資するか</p>
    <p>　　○　一期目は投資を見送るのか</p>
    <p>　を決定してもらいます。</p>　
    <br>
    <p>・上記にある通り、一期目に「新製品に投資する」を選んだ場合、二期目も引き続き「新製品に投資する」ことになります。</p>
    <p>・二期目は、表示されている確率によってポイントが変動します。（下部の４つの表）</p>
    <p>　　〇拡大の場合：獲得ポイントが増加<br>　　〇縮小の場合：獲得ポイントが減少</p>
    <br>
    </section>
    <br>
    
    <section style = "padding:50px">
    <h4>二期目の説明</h4>
    <br>
    <p>・一期目の選択が終了すると二期目に移ります。</p>
    <p>・一期目に「新製品に投資する」を選択し、２期間にわたって新製品に投資をする場合、下図のような画面が表示されます。</p>
    
    <img src="{% static "inst_O_r2_11.jpg" %}" width="400" /><br>
    <br>
    <p>もしくは</p>
    <img src="{% static "inst_O_r2_01.jpg" %}" width="400" /><br>
    <br>
    <p>・一期目に「新製品に投資する」を選択していない場合、二期目にもう一度、一期目と同様にどちらの選択をするのか決定してもらいます。</p>
    <br>
    <img src="{% static "inst_O_r2_10.jpg" %}" width="400" /><br>
    <br>
    <p>もしくは</p>
    <img src="{% static "inst_O_r2_00.jpg" %}" width="400" /><br>
    <br>
    <p>・二期目の選択が終り次第、そのラウンドは終了します。</p>
    <br>
    
    </section>
    <br>
    
    <section style = "background-color:#e6e6e6; padding:50px">
    <h4>結果発表画面の説明</h4>
    <br>
    <p>・一期目と二期目の選択が終了すると、そのラウンドで獲得したポイントが表示されます。</p>
    <p>・この投資の選択とタイミングを決定を数値を変えながら繰り返し行ってもらいます。</p>
    </section>
    
    <br>
    <section style = "padding:50px">
    <h4>最終結果確認</h4>
    <br>
    <p>全てのラウンドが終了すると、あなたの最終獲得ポイントが表示されます。</p>
    </section>
    
    <br>
    <section style = "background-color:#e6e6e6 ; padding:50px">
    <h4>アンケート</h4>
    <br>
    <p>・最後にアンケートA・Bに記入していただいて実験は終了となります。</p>
    </section>
    
    <br>
    <br>
    <br>
    
    <section style = "padding:50px">
    <h4>実験の流れ</h4>
    <br>
    <p>・最後に、実験全体の流れは以下のようになります。</p>
    <br>
    <br>
    <img src="{% static "inst_nagare.jpg" %}" width="80%" /><br>
    
    </section>
    
    <br>
    <br>
    <br>
    <br>
    
    <section style = "background-color:#e6e6e6 ; padding:50px">
    <h5>以上で説明は終了です。</h5>
    <br>
    <p>・これから確認テストを行います。</p>
    <p>・確認テストを解くにあたり、説明を読み直してもかまいません。その場合、確認テストを下にスクロールしていくと、この実験説明を確認できます。</p>
    <p>・確認テストの回答が終わったら、採点を行います。間違った箇所は必ず確認し、もう一度確認テストを受けて下さい。</p>
    <p>・確認テストが終わり次第、実験本番を開始します。</p>
    </section>
    
    <br>
    <br>
{% endblock %}