{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    実験開始
{% endblock %}

{% block content %}
<br>
<h3>それでは実験を開始します。</h3>
<br>
<br>
<p>　以下のことに注意をしてください。</p>
<br>
<p>　　-01.　私語、居眠り、読書などの実験に関係のない行為はご遠慮ください。</p>
<p>　　-02.　実験中・実験終了後も、あなたの名前などの個人情報が公表されることはありません。</p>
<p>　　-03.　この実験の説明はすべてこのページの続きで行われます</p>
<p>　　-04.　パソコンのフリーズ対策として、可能な限り他のアプリケーションは開かないでください。</p>
<p>　　-05.　実験中は、本webページを閉じないでください。</p>
<p>　　-06.　バッテリー残量に気をつけてください。</p>
<br>
<br>
<p>準備ができましたら、下のボタンを押して次のページに進んでください。</p>

    {% next_button %}

{% endblock %}
